@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-color: #080808;
    background-size:cover;
    background: position 10px;
}

.container {
    padding: 10px 10%
}


/* section colors */

.red {
    background: #dd3f31;
}

.blue {
    background: #3c31dd;
}

.purple {
    background: #ee82ee;
}

.pink {
    background: #ff0066;
}


/* navigation bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav h2 {
    cursor: pointer;
}

.logo {
    width: 140px;
}

/* nav bar */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #01cbce;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s
}

nav ul li a:hover::after {
    width: 100%;
}


/* main section */

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-blob {
    margin-top: 40px;
    width: 550px;
    height: 550px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-shadow: 0px 0px 5px 5px #01cbce;
    background-position: center center;
    background-image: url("images/photo_2022-06-23_00-55-42.jpg");
    animation: animate 15s ease-in-out infinite;
    transition: all 5s ease-in-out;
}

@keyframes animate {
    0%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
    25% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    50% {
        border-radius: 46% 54% 59% 41% / 39% 57% 43% 61%;
    }
    75% {
        border-radius: 61% 39% 38% 62% / 46% 44% 56% 54%;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}


.about-col-1 {
    flex-basis: 35%;
}

.main-image {
    flex-basis: 35%;
    padding: 80px 0;
    width: 200px;
    border-radius: 5%;
    color: #ababab;
}

#header h2 {
    text-transform: uppercase;
}

#header h2 span {
    font-weight: bold;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #00fbff;
}


/* ---------------------- about ---------------------- */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 34%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 20px;
    transition: box-shadow 0.25s, transform 0.25s;
}

.about-col-1 img:hover {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #ffffff;
    transform: scale(1.05);
}

.about-col-2 {
    flex-basis: 30%;
}

.sub-title {
    text-align: left;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.about-card {
    margin: 20px;
    padding: 20px;
    background: #262626;
    border-radius: 10px;
    transition: box-shadow 0.25s ease-in-out;
}

.about-card:hover {
    box-shadow: 0px 0px 2px 2px #ffffff;
}

.about-card p span {
    font-weight: 600;
}

.sub-title.centered {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: white;
}


/* education */

.education-header {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
}

.education-container {
    margin: 0 auto;
    width: 60%;
}

.education-item {
    background-color: #262626;
    padding: 40px;
    margin: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.education-item p {
    margin-top: 15px;
    color:#00fbff;
}

.education-item h2 i {
    font-size: 10px;
    margin-right: 15px;
}

.education-lyceum {
    display: flex;
    flex-direction: row;
}

.education-university {
    display: flex;
    flex-direction: row;
}

.empty-space {
    display: none;
}

.card-lyceum {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}

.card-university {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}

.card-lyceum h2 i, .card-university h2 i {
    font-size: 20px;
    margin-right: 10px;
    color: #ffffff;
}

.card-lyceum h2 {
    flex-basis: 35%;
    margin: 10px;
    margin-bottom: 50px;
}


.card-university h2 {
    flex-basis: 35%;
    margin: 10px;
    margin-bottom: 50px;
}


.card-lyceum a {
    padding-bottom: 10px;
    margin: 10px;
    font-size: 15px;
    color: #fff700;
}

.card-university a {
    padding-bottom: 10px;
    margin: 10px;
    font-size: 15px;
    color: #fff700;
}



/* skills */
#skills {
    padding: 30px 0;
}

.container-skills {
    align-items: center;
}

.my-hard-skills-container, .my-soft-skills-container {
    overflow: hidden;
    justify-content: space-between;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
}

.myskills-header {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
}

.my-hard-skills-container ul, .my-soft-skills-container ul {
    margin: 10px;
    padding: 30px;
}

.my-skills-blob-wrapper {
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.my-skills-blob {
    position: relative;
    margin-top: 40px;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border: 5px solid #454545;
    background-position: center center;
    background: #262626;
    animation: animate_hard_skills_blob 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate_hard_skills_blob {
    0%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
    25% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    50% {
        border-radius: 46% 54% 59% 41% / 39% 57% 43% 61%;
    }
    75% {
        border-radius: 61% 39% 38% 62% / 46% 44% 56% 54%;
    }
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}

.hard-skills-blob-text, 
.soft-skills-blob-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hard-skills-blob-text h2 {
    font-size: 24px;
}


.my-hard-skills-container ul,
.my-soft-skills-container ul {
    flex-basis: 45%;
}

.my-hard-skills-container ul li:hover {
    transform: translateX(-25px);
}

.my-soft-skills-container ul li:hover {
    transform: translateX(25px);
}


.my-hard-skills-container ul li,
.my-soft-skills-container ul li {
    list-style: none;
    background: #262626;
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
    transition: transform, background, color 0.5s, 0.5s, 0.55s;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div {
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.25s;
}

.skills-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.skills-list div:hover {
    background: #00fbff ;
    transform: translateY(-10px);
}

.hard-skills-list-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
.soft-skills-list-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.my-skills-blob.blob-hidden {
    opacity: 1;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}
.show-blob {
    opacity: 0;
    filter: blur(0);
    transform: translateX(0);
}




/* portfolio */
#portfolio {
    height: 100vh;
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #00fbff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color:#00fbff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00fbff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    background: #00fbff;
}


/* projects */

.projects-title {
    text-align: center;
    margin: 80px 0;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.slide-container {
    width: 90%;
    height: 500px;
    margin-bottom: 40px;
}

.swiper-pagination {
    margin-top: 100px;
}

.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #3c31dd;
    border-radius: 25px 25px 0 0;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    border-radius: 25px;
    background-color: #262626;
    overflow: hidden;
}

.project-name {
    font-size: 18px;
    font-weight: 600;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.projects-button {
    border: none;
    color: white;
    padding: 8px 16px;
    background-color: #01cbce;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.projects-button:hover {
    background: #3c31dd;
}

/* contact */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
     margin-top: 30px;
}

.contact-left p i {
    color: #00fbff;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #00fbff;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #00fbff;
    color: #080808;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color: #080808;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 30px;
}


nav .fa-sharp, nav .fa-solid {
    display: none;
}




/* css for small screens */
@media only screen and (max-width: 600px) {
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fa-sharp, nav .fa-solid {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #00fbff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-sharp { 
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 748px) {
    .sub-title {
        font-size: 40px;
    }

    .contact-left p {
        font-size: 10px;
    }

    .contact-left p i {
        font-size: 10px;
    }
}


@media only screen and (max-width: 1500px) {
    .main-blob {
        width: 500px;
        height: 500px;
    }
    .sub-title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1400px) {
    .main-blob {
        width: 550px;
        height: 550px;
    }
    .sub-title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1350px) {
    .main-blob {
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 1300px) {
    .main-blob {
        width: 450px;
        height: 450px;
    }
}

@media only screen and (max-width: 1200px) {
    .main-blob {
        width: 400px;
        height: 400px;
    }
    .header-text h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1150px) {
    .main-blob {
        width: 350px;
        height: 350px;
    }
    .header-text h1 {
        font-size: 48px;
    }
}

@media only screen and (max-width: 1100px) {
    .main-blob {
        width: 300px;
        height: 300px;
    }
    .header-text h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 1000px) {
    .main-blob {
        width: 250px;
        height: 250px;
    }
    .header-text h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 800px) {
    .main-section {
        display: flex;
        flex-direction: column;
    }
    .main-blob {
        width: 100%;
        height: 100%;
    }
    .header-text h1 {
        font-size: 40px;
    }
}